# Testing:

In [125]:
print('Jay Swaminarayan! 9644')
print("Jay Swaminarayan!!")
a = 'Jay swaminarayan!!!'
print(a)
print('''For long sentence in contain double and single quation''')

print('It\'s boy')
print("It's boy")

Jay Swaminarayan! 9644
Jay Swaminarayan!!
Jay swaminarayan!!!
For long sentence in contain double and single quation
It's boy
It's boy

In [126]:
a

'Jay swaminarayan!!!'

In [127]:
print(a)

Jay swaminarayan!!!

In [128]:
5<6

True

In [129]:
num1 = (input('Enter number 1: '))
print(num1)

Enter number 1: 75
75

In [130]:
#only Print last variable
num1
a

'Jay swaminarayan!!!'

In [131]:
type(num1)

str

In [132]:
num1 = int(input('Enter number 1: '))

Enter number 1: 46

In [133]:
type(num1)

int

In [134]:
print(type(num1))

<class 'int'>

In [135]:
f = 12.3

In [136]:
type(f)

float

In [137]:
num2 = int(input('Enter number 2: '))
if num2 > 10 :
    #print(num2)
    print(str(num2) + ' is Greater then 10.') # Concatination method
    print(f"{num2} is greater than 10.") # Formated string mathod; no need to change type
    print(num2, "is > 10.") # No need of white space
else :
  #print(num2)
  print(str(num2) + ' is less then or equal to 10.')

Enter number 2: 25
25 is Greater then 10.
25 is greater than 10.
25 is > 10.

In [138]:
bool1 = True
print(bool1)
if bool1 == True :
    print("Yes")
if bool1 :
    print("Yes!")

True
Yes
Yes!

In [139]:
if bool1 == "True" :
    print("Yes")
else :
    print("No")

No

In [140]:
# you can write anything num, i, j...
for num3 in range(3) : # here 3 will be excluded
    print(f"{num3} Hi")
print(f"Last number: {num3}")

for num3 in range(1,5) : # here 5 will be excluded
    print(f"{num3} Hii")
print(f"Last number: {num3}")

0 Hi
1 Hi
2 Hi
Last number: 2
1 Hii
2 Hii
3 Hii
4 Hii
Last number: 4

In [141]:
# range(stop)
# range(start, stop)
# range(start, stop, step) step can not zero and must be integer
for num4 in range(1,11,3) : # here 3 is step 1+3=4, 4+3=7...
    print(num4)
print(f"Last number: {num4}")

1
4
7
10
Last number: 10