In [ ]:
# CLASS 2:

In [1]:
print('Jay Swaminarayan! 9644')
print("Jay Swaminarayan!!")
a = 'Jay swaminarayan!!!'
print(a)
print('''For long sentence in contain double and single quation''')

print('It\'s boy')
print("It's boy")

Jay Swaminarayan! 9644
Jay Swaminarayan!!
Jay swaminarayan!!!
For long sentence in contain double and single quation
It's boy
It's boy

In [2]:
a

'Jay swaminarayan!!!'

In [3]:
print(a)

Jay swaminarayan!!!

In [4]:
5<6

True

In [5]:
num1 = int(input('Enter number 1: '))
print(num1)

Enter number 1: 15
15

In [6]:
#only Print last variable
num1
a

'Jay swaminarayan!!!'

In [7]:
type(num1)

int

In [8]:
f = 12.3

In [9]:
type(f)

float

In [10]:
print(type(num1))

<class 'int'>

In [11]:
num2 = int(input('Enter number 2: '))
if num2 > 10 :
  print(num2)
  print('is Greater then 10.')
else :
  print(num2)
  print('is less then or equal to 10.')

Enter number 2: 16
16
is Greater then 10.

In [ ]:
# CLASS 3: