# Testing:

In [67]:
print('Jay Swaminarayan! 9644')
print("Jay Swaminarayan!!")
a = 'Jay swaminarayan!!!'
print(a)
print('''For long sentence in contain double and single quation''')

print('It\'s boy')
print("It's boy")

Jay Swaminarayan! 9644
Jay Swaminarayan!!
Jay swaminarayan!!!
For long sentence in contain double and single quation
It's boy
It's boy

In [68]:
a

'Jay swaminarayan!!!'

In [69]:
print(a)

Jay swaminarayan!!!

In [70]:
5<6

True

In [71]:
num1 = (input('Enter number 1: '))
print(num1)

Enter number 1: 16
16

In [72]:
#only Print last variable
num1
a

'Jay swaminarayan!!!'

In [73]:
type(num1)

str

In [74]:
num1 = int(input('Enter number 1: '))

Enter number 1: 16

In [75]:
type(num1)

int

In [76]:
print(type(num1))

<class 'int'>

In [77]:
f = 12.3

In [78]:
type(f)

float

In [79]:
num2 = int(input('Enter number 2: '))
if num2 > 10 :
    #print(num2)
    print(str(num2) + ' is Greater then 10.') # Concatination method
    print(f"{num2} is greater than 10.") # Formated string mathod; no need to change type
    print(num2, "is > 10.") # No need of white space
else :
  #print(num2)
  print(str(num2) + ' is less then or equal to 10.')

Enter number 2: 15
15 is Greater then 10.
15 is greater than 10.
15 is > 10.