# Testing:

In [125]:
print('Jay Swaminarayan! 9644')
print("Jay Swaminarayan!!")
a = 'Jay swaminarayan!!!'
print(a)
print('''For long sentence in contain double and single quation''')

print('It\'s boy')
print("It's boy")

Jay Swaminarayan! 9644
Jay Swaminarayan!!
Jay swaminarayan!!!
For long sentence in contain double and single quation
It's boy
It's boy

In [126]:
a

'Jay swaminarayan!!!'

In [127]:
print(a)

Jay swaminarayan!!!

In [128]:
5<6

True

In [129]:
num1 = (input('Enter number 1: '))
print(num1)

Enter number 1: 75
75

In [130]:
#only Print last variable
num1
a

'Jay swaminarayan!!!'

In [131]:
type(num1)

str

In [132]:
num1 = int(input('Enter number 1: '))

Enter number 1: 46

In [133]:
type(num1)

int

In [134]:
print(type(num1))

<class 'int'>

In [135]:
f = 12.3

In [136]:
type(f)

float

### If condition:

In [137]:
num2 = int(input('Enter number 2: '))
if num2 > 10 :
    #print(num2)
    print(str(num2) + ' is Greater then 10.') # Concatination method
    print(f"{num2} is greater than 10.") # Formated string mathod; no need to change type
    print(num2, "is > 10.") # No need of white space
else :
  #print(num2)
  print(str(num2) + ' is less then or equal to 10.')

Enter number 2: 25
25 is Greater then 10.
25 is greater than 10.
25 is > 10.

In [138]:
bool1 = True
print(bool1)
if bool1 == True :
    print("Yes")
if bool1 :
    print("Yes!")

True
Yes
Yes!

In [139]:
if bool1 == "True" :
    print("Yes")
else :
    print("No")

No

### For Loop:

In [143]:
# you can write anything in index like num, i, j... here num3 is index
for num3 in range(3) : # here 3 will be excluded
    print(f"Iteration: {num3}")
print(f"Last Iteration: {num3}\n")

for num3 in range(1,5) : # here 5 will be excluded
    print(f"Iteration: {num3}")
print(f"Last Iteration: {num3}")

Iteration: 0
Iteration: 1
Iteration: 2
Last number: 2

Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4
Last number: 4

In [156]:
# range(stop)
# range(start, stop)
# range(start, stop, step) step can not zero and must be integer
# in c for(i=0; i<11; i=i+3)
for num4 in range(1,11,3) : # here 3 is step 1+3=4, 4+3=7...
    print(num4)
print(f"Last number: {num4}")

1
4
7
10
Last number: 10

In [ ]:
# for list it will come in list section

### While Loop:

In [159]:
i = 0
while i<=5 :
    print(i)
    print(i * "$")
    i += 1 # i=i+1

0

1
$
2
$$
3
$$$
4
$$$$
5
$$$$$

In [170]:
# this will compare lower case either heigher case 
# help.lower() == "help"
# help.heigher() == "HELP"
help = input(">")
while help.lower() == "help" : # you can use help.heigher() == "HELP"
    print("start: to start the car")
    print("stop: to stop yhe car")
    break
    
else :
    print("Invalid input")
    print('''write "help" for help''')

>HElp
start: to start the car
stop: to stop yhe car

### List: Datatype

In [25]:
# more likely array but in array all element has same data type
# list index start with zero(0)
list1 = [2, 3, 4, 6, 8, "Prince", True, 12.03, 45.1]
list1

[2, 3, 4, 6, 8, 'Prince', True, 12.03, 45.1]

In [27]:
list1[5]

'Prince'

In [223]:
list2 = ["a", "b", 1, 2.2]
print(list2)

['a', 'b', 1, 2.2]

In [224]:
list3 = list1 + list2 
print(list3)
list4 = list2 + list1
print(list4)

[2, 3, 4, 6, 8, 'Prince', True, 12.03, 45.1, 'a', 'b', 1, 2.2]
['a', 'b', 1, 2.2, 2, 3, 4, 6, 8, 'Prince', True, 12.03, 45.1]

In [225]:
# sort 
# ascending: list5.sort(reverse=False) or list5.sort() 
# descending: list5.sort(reverse=True) 
list5 = ["a", "z", "s"]
list5.sort() 
print(list5)
list6 = [1, 10, 4]
list6.sort()
print(list6)

['a', 's', 'z']
[1, 4, 10]

In [226]:
# append: if you want to add in last in the list
# list.append(value)
list5.append("p")
print(list5)
list5.append(20)
print(list5)

['a', 's', 'z', 'p']
['a', 's', 'z', 'p', 20]

In [227]:
# insert: if you want to add anywhere in the list
# list.insert(index, value)
list5.insert(2, 13)
print(list5)
list5.insert(5, "s")
print(list5)

# for update value
list5[4] = "p3"
print(list5)

['a', 's', 13, 'z', 'p', 20]
['a', 's', 13, 'z', 'p', 's', 20]
['a', 's', 13, 'z', 'p3', 's', 20]

In [228]:
# pop: to remove last element
list5.pop()
print(list5)

['a', 's', 13, 'z', 'p3', 's']

In [229]:
# remove: to remove any element
# list.remove(value)
# if there are to same value then it will delete first one.
list5.remove(13)
print(list5)
list5.remove("s")
print(list5)

['a', 's', 'z', 'p3', 's']
['a', 'z', 'p3', 's']

In [230]:
# list of string
list6 = list("Jay Swaminarayan!")
print(list6)
list6

['J', 'a', 'y', ' ', 'S', 'w', 'a', 'm', 'i', 'n', 'a', 'r', 'a', 'y', 'a', 'n', '!']

['J',
 'a',
 'y',
 ' ',
 'S',
 'w',
 'a',
 'm',
 'i',
 'n',
 'a',
 'r',
 'a',
 'y',
 'a',
 'n',
 '!']

In [231]:
list7 = list(range(10))
list7

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [78]:
# for loop for list
prices = [10, 1, 5, 3]
total = 0
for i in prices :
    print(i) # here i is assigned value to the index i
    total = total + i
print(total)

10
1
5
3
19

### Tuple:

In [79]:
# in tuple we can not change data after assigned like insert...
# index start with zero(0) 
t1 = (1, 2, 3, "p", 2.3, True)
t1

(1, 2, 3, 'p', 2.3, True)

In [80]:
t1[4]

2.3

###  Dictionary:

In [81]:
# dictionary nearly equal to structure in c
# It is key and value pair.
# key must be unique we can not repet it
# IF two keys are same the value will be updated according to last key value

In [82]:
# d1 = {key : value}
d1 = {"x" : 1, "p" : "p3", "q" : True, "f" : 2.4}
d1

{'x': 1, 'p': 'p3', 'q': True, 'f': 2.4}

In [83]:
d2 = dict(x = 1, b = "p3", c = True, d = 2.4)
d2

{'x': 1, 'b': 'p3', 'c': True, 'd': 2.4}

In [84]:
type(d1)

dict

In [85]:
# same keys
d1 = {"x" : 1, "p" : "p3", "x" : 9644, "q" : True, "f" : 2.4}
d1

{'x': 9644, 'p': 'p3', 'q': True, 'f': 2.4}

In [86]:
# print all keys
d1.keys()

dict_keys(['x', 'p', 'q', 'f'])

In [87]:
# update value
d1["x"] = 5
print(d1)
d1["x"]

{'x': 5, 'p': 'p3', 'q': True, 'f': 2.4}

5

In [88]:
# add new key and value
# this will added at last
d1["z"] = "prince"
print(d1)
# add list
d1["l"] = [9, 6.44, "yogi"]
print(d1)
# add tuple
d1["t"] = (10, 16.44, "tuple")
print(d1)

{'x': 5, 'p': 'p3', 'q': True, 'f': 2.4, 'z': 'prince'}
{'x': 5, 'p': 'p3', 'q': True, 'f': 2.4, 'z': 'prince', 'l': [9, 6.44, 'yogi']}
{'x': 5, 'p': 'p3', 'q': True, 'f': 2.4, 'z': 'prince', 'l': [9, 6.44, 'yogi'], 't': (10, 16.44, 'tuple')}

### Exception:

In [107]:
try :
    age = float(input("Enter your age:"))
    print(age)
except :
    print("Age must be in integer or float!")

Enter your age:16
16.0

In [109]:
try :
    age = float(input("Enter your age:"))
    print(age)
except (ValueError, ZeroDivisionError) : # if both exception are occuring then... or you can write 2 time except block
    print(ValueError)
    print("Age must be in integer or float!")

Enter your age:ca
<class 'ValueError'>
Age must be in integer or float!

In [110]:
try :
    age = float(input("Enter your age:"))
    print(age)
except ValueError as ex: # ex is variable and error stored into ex
    print(ex)
    print("Age must be in integer or float!")

Enter your age:va
could not convert string to float: 'va'
Age must be in integer or float!

In [112]:
try :
    age = float(input("Enter your age:"))
    print(age)
except ValueError as ex: # ex is variable and error stored into ex
    print(ex)
    print("Age must be in integer or float!")
finally :
    print("Finally block!")

Enter your age:16
16.0
Finally block!

### Functions:

In [35]:
# 1. User-defined
# 2. Pre-defined

In [64]:
# User Defined
# For no parameter
def greet_user() :
    print("Hii there... Welcome to the club!")

In [65]:
print("Start")
greet_user()
print("Stop")

Start
Hii there... Welcome to the club!
Stop

In [66]:
# For single parameter
def greet_user(name) : # here name is parameter
    print(f"Hii there this is {name} Welcome to the club!")

In [67]:
greet_user("Pat3l") # here Pat3l and name are argument
name = input("Enter your name: ")
greet_user(name)

Hii there this is Pat3l Welcome to the club!
Enter your name: Prince
Hii there this is Prince Welcome to the club!

In [68]:
# For multiple parameter
def greet_user(first, last) :
    print(f"Hii there {first} {last} Welcome to the club!")

In [69]:
greet_user("Prince", "Pat3l")
greet_user(last = "Pat3l", first = "Prince")

Hii there Prince Pat3l Welcome to the club!
Hii there Prince Pat3l Welcome to the club!

In [70]:
# 2. Pre defined
# https://docs.python.org/3/py-modindex.html

In [71]:
import math
math.factorial(5)

120

In [72]:
import math as f
f.factorial(5)

120

In [73]:
import math as f
math.factorial(5)

120

In [74]:
import time

for i in range(5) :
    print(i)
    time.sleep(1) # here value is in second

0
1
2
3
4

In [76]:
import numpy as np

a = [1, 2, 3, 4]
b = [4, 5, 6, 7]
a * b

TypeError: can't multiply sequence by non-int of type 'list'

In [79]:
c = np.array([1, 2, 3, 4])
d = np.array([4, 5, 6, 7])
c * d

array([ 4, 10, 18, 28])

In [31]:
import pandas as pd
# here df is variable means data frame like...
# in () we have to provide path of file
df = pd.read_csv("mtcars.csv")
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [32]:
# It will give information about file
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   model   32 non-null     object
 1   mpg     32 non-null     float64
 2   cyl     32 non-null     int64
 3   disp    32 non-null     float64
 4   hp      32 non-null     int64
 5   drat    32 non-null     float64
 6   wt      32 non-null     float64
 7   qsec    32 non-null     float64
 8   vs      32 non-null     int64
 9   am      32 non-null     int64
 10  gear    32 non-null     int64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [33]:
# It will describe more
# std standard devation
# 25, 50, 75 quartile data
df.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [34]:
# Starting top 5 file value
df.head() # by default 5

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [35]:
df.head(9)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2

In [36]:
# Last 5 value
df.tail() # by default 5

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2

In [37]:
# for testing purpose it will give random row
df.sample() # by default 1

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
20,Toyota Corona,21.5,4,120.1,97,3.7,2.465,20.01,1,0,3,1

In [38]:
df.sample(4)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4

In [39]:
# for specific column
df['cyl']

0     6
1     6
2     4
3     6
4     8
5     6
6     8
7     4
8     4
9     6
10    6
11    8
12    8
13    8
14    8
15    8
16    8
17    4
18    4
19    4
20    4
21    8
22    8
23    8
24    8
25    4
26    4
27    4
28    8
29    6
30    8
31    4
Name: cyl, dtype: int64

In [40]:
# for open more than one column
df[['model', 'cyl', 'hp']]

                  model  cyl   hp
0             Mazda RX4    6  110
1         Mazda RX4 Wag    6  110
2            Datsun 710    4   93
3        Hornet 4 Drive    6  110
4     Hornet Sportabout    8  175
5               Valiant    6  105
6            Duster 360    8  245
7             Merc 240D    4   62
8              Merc 230    4   95
9              Merc 280    6  123
10            Merc 280C    6  123
11           Merc 450SE    8  180
12           Merc 450SL    8  180
13          Merc 450SLC    8  180
14   Cadillac Fleetwood    8  205
15  Lincoln Continental    8  215
16    Chrysler Imperial    8  230
17             Fiat 128    4   66
18          Honda Civic    4   52
19       Toyota Corolla    4   65
20        Toyota Corona    4   97
21     Dodge Challenger    8  150
22          AMC Javelin    8  150
23           Camaro Z28    8  245
24     Pontiac Firebird    8  175
25            Fiat X1-9    4   66
26        Porsche 914-2    4   91
27         Lotus Europa    4  113
28       Ford Pantera L    8  264
29         Ferrari Dino    6  175
30        Maserati Bora    8  335
31           Volvo 142E    4  109

In [41]:
# for rows
# df[starting row : ending row]
df[2:6] # here sr. 6 will not print

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1

In [42]:
# For sort data for specific column
# For descending order df.sort_values(by='mpg, ascending=False')
df.sort_values(by='mpg')

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1

In [43]:
df[3:4]

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1

In [44]:
# loc operator
# For row
df.loc[3]

model    Hornet 4 Drive
mpg                21.4
cyl                   6
disp              258.0
hp                  110
drat               3.08
wt                3.215
qsec              19.44
vs                    1
am                    0
gear                  3
carb                  1
Name: 3, dtype: object

In [45]:
df.loc[2:6] # Sr. 6th will print

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4

In [46]:
# For column
# First is row and second is column
df.loc[2:6, 'model':'drat']

               model   mpg  cyl   disp   hp  drat
2         Datsun 710  22.8    4  108.0   93  3.85
3     Hornet 4 Drive  21.4    6  258.0  110  3.08
4  Hornet Sportabout  18.7    8  360.0  175  3.15
5            Valiant  18.1    6  225.0  105  2.76
6         Duster 360  14.3    8  360.0  245  3.21

In [47]:
df.loc['Hornet 4 Drive':'Valiant', 'model':'drat']

Empty DataFrame
Columns: [model, mpg, cyl, disp, hp, drat]
Index: []

In [48]:
df.loc['Duster 360']

KeyError: 'Duster 360'

In [49]:
# Convert model column into index
df = pd.read_csv('mtcars.csv', index_col='model')
df

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
model,,,,,,,,,,,
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [53]:
# sort data for index
df.sort_index() # for descening df.sort_index(ascending=False)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
model,,,,,,,,,,,
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [55]:
df # sorted data will not save
# For save the sorted data 
# df = df.df.sort_index()  or  df.sort_index(implace=True)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
model,,,,,,,,,,,
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2